/*
	Formatting:
	1. Numerical-only fields should be first, always. Fields that use `auto` but are otherwise
	   numerical should also be first.
	2. Partially numerical fields should be second.
	3. Everything else is last.
*/

/*
	Globals
*/
body {
	max-width: 900px;
	padding: 0 15px;
	margin: 0 auto;
	font-family: 'Open Sans', 'Times New Roman', Arial, serif;
}

header {
	margin-top: 8px;
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
}

ul.nav-ul	 {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

ul.nav-ul li {
	padding: 0 15px;
}

div.right-header,
div.account-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.account-info img {
	max-width: 28px;
	max-height: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

button.create-meeting {
	margin-right: 10px;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	border: 2px solid #000;
	cursor: pointer;
	outline: none;
}


main div {
	margin-bottom: 10px;
}

main div h2 {
	margin-bottom: 4px;
}


/* 
	Classes/IDs 
*/
.meeting-container {
	margin-left: 25px;
}

.meeting-container td:nth-child(1),
.meeting-container td:nth-child(2) {
	width: 20px;
	max-width: 20px;
	overflow: hidden;
}

.icon {
	vertical-align: middle;
	pointer-events: none;
}

/*
	Media Queries
*/
@media only screen and (max-width: 600px) {
	div.account-info h1 {
		display: none;
	}
}